# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Vector database storage
chroma_store/
chroma.sqlite3
backend/chroma_store/
backend/venv/
backend/.env

# IDEs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db
