fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pandas
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-community
langchain-groq
langgraph
chromadb
networkx
ortools
mlflow